@using System.Linq
@using TMS.Entities
@using TMS.Web.UI.Controllers
@model Lead

@{
  ViewBag.Title = "Lead Create";
  Layout = "../Shared/_Layout.cshtml";
}
@*<script type="text/javascript" language="javascript" src=@Url.Content("~/Scripts/Lead_Create_Edit.js")></script>*@
@using (@Html.BeginForm("CreateLead", "Lead", FormMethod.Post, new { id = "leadCreateForm" }))
{
  <div class="row" style="padding-top: 15px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group">
          @*<span class="btn btn-outline btn-primary" id="btnSave" onclick="location.href='@Url.Action("Create", "Lead")'"><i class="fa fa-save"></i></span>*@
          <span class="btn btn-outline btn-primary" id="btnSave"><i class="fa fa-save"></i></span>
          <span class="btn btn-outline btn-danger" id="btnCancel"><i class="fa fa-trash-o"></i></span>
        </div>
        <div class="btn-group">
          <span class="btn btn-outline btn-info"><i class="fa fa-print"></i></span>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item list-group-item-text list-group-item-info">
            <strong>Personal Details</strong><i class="glyphicon glyphicon-chevron-down pull-right"></i>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top"><strong>@Html.LabelForPascal(lead => lead.Salutation):</strong></div>
                  <div class="col-md-8">
                    @Html.EnumDropDownListFor(lead => lead.Salutation)
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top"><strong>@Html.LabelForPascal(lead => lead.FirstName):</strong></div>
                  <div class="col-md-8">@Html.TextBoxFor(lead => lead.FirstName, new { @class = "form-control" })</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top"><strong>@Html.LabelForPascal(lead => lead.LastName):</strong></div>
                  <div class="col-md-8">@Html.TextBoxFor(lead => lead.LastName, new { @class = "form-control" })</div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top">@Html.LabelForPascal(lead => lead.LeadType):</div>
                  <div class="col-md-8">
                    @Html.EnumDropDownListFor(lead => lead.LeadType)
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top">@Html.LabelForPascal(lead => lead.LeadSource):</div>
                  <div class="col-md-8">
                    @Html.EnumDropDownListFor(lead => lead.LeadSource)
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top">
                    @Html.LabelForPascal(lead => lead.City):
                  </div>
                  <div class="col-md-8">
                    @Html.TextBoxFor(lead => lead.City, new { @class = "form-control" })
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top">@Html.LabelForPascal(lead => lead.Country):</div>
                  <div class="col-md-8">@Html.DropDownListFor(lead => lead.Country, ViewBag.Countries as IEnumerable<SelectListItem>, "Select One...", new { @class = "form-control" })</div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 padding-top text-right">
                    @Html.LabelForPascal(lead => lead.ReferredBy):
                  </div>
                  <div class="col-md-8">
                    @Html.DropDownListFor(lead => lead.ReferredBy, ViewBag.Users as SelectList, "Select One...", new { @class = "form-control" })
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top">
                    @Html.LabelForPascal(lead => lead.ClientStatus):
                  </div>
                  <div class="col-md-8">
                    @Html.EnumDropDownListFor(lead => lead.ClientStatus)
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item-text list-group-item-info"><strong>Communication Preferences</strong><i class="glyphicon glyphicon-chevron-down pull-right"></i></li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6 text-right padding-top">@Html.LabelForPascal(lead => lead.PreferredCommunicationType, "Preferred Comm. Type"):</div>
                  <div class="col-md-6">
                    @Html.EnumDropDownListFor(lead => lead.PreferredCommunicationType)
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6 text-right padding-top">@Html.LabelForPascal(lead => lead.ExpectedDateOfJoin):</div>
                  <div class="col-md-6">
                    <div class='input-group date' id="datetimepicker3">
                      @Html.TextBoxFor(lead => lead.ExpectedDateOfJoin, "{0:dddd MMMM, dd yyyy}", new { @class = "form-control datetimepicker", @readonly = true })
                      <span class="input-group-addon btn-outline btn-primary"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3 text-right padding-top">@Html.LabelForPascal(lead => lead.DemoDateTime):</div>
              <div class="col-md-9">
                <div class='input-group date' id="datetimepicker4">
                  @Html.TextBoxFor(lead => lead.DemoDateTime, "{0:dddd MMMM, dd yyyy HH:mm}", new { @class = "form-control datetimepicker", @readonly = true })
                  <span class="input-group-addon btn-outline btn-primary"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <ul id="bestTimetoContact" class="list-group">
                  <li class="list-group-item list-group-item-text list-group-item-info">@Html.LabelForPascal(lead => lead.BestTimeToContact)<i class="glyphicon glyphicon-chevron-down pull-right"></i></li>
                  @*<li class="list-group-item">&nbsp;<span id="bt" class="btn btn-xs btn-primary btn-outline pull-right"><i class="glyphicon glyphicon-plus"></i></span></li>*@
                  <li class="list-group-item">&nbsp;<span class="btn btn-xs btn-primary btn-outline pull-right" data-toggle="modal" data-target="#bt"><i class="glyphicon glyphicon-plus"></i></span></li>
                  @if (Model.BestTimeToContact != null && Model.BestTimeToContact.Any())
                  {
                    foreach (DateTime dateTime in Model.BestTimeToContact)
                    {
                      <li class="list-group-item">@dateTime.ToString("dddd MMMM, dd yyyy HH:mm")<span class="btn btn-xs btn-danger btn-outline pull-right"><i class="glyphicon glyphicon-remove"></i></span></li>
                    }
                  }
                </ul>
              </div>
              <div class="col-md-6">
                <ul id="communicationDetail" class="list-group">
                  <li class="list-group-item list-group-item-text list-group-item-info">@Html.LabelForPascal(lead => lead.CommunicationDetails)<i class="glyphicon glyphicon-chevron-down pull-right"></i></li>
                  @*<li class="list-group-item">&nbsp;<span id="cd" class="btn btn-xs btn-primary btn-outline pull-right"><i class="glyphicon glyphicon-plus"></i></span></li>*@
                  <li class="list-group-item">&nbsp;<span class="btn btn-primary btn-xs btn-primary btn-outline pull-right" data-toggle="modal" data-target="#cd"><i class="glyphicon glyphicon-plus"></i></span></li>
                  @if (Model.CommunicationDetails != null && Model.CommunicationDetails.Any())
                  {
                    foreach (CommunicationDetail communicationDetail in Model.CommunicationDetails)
                    {
                      <li class="list-group-item"><strong>@communicationDetail.CommunicationType: </strong>@communicationDetail.Uri<span class="btn btn-xs btn-danger btn-outline pull-right"><i class="glyphicon glyphicon-remove"></i></span></li>
                    }
                  }
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-group" id="courseRequired">
              <li class="list-group-item list-group-item-text list-group-item-info">
                <strong>Course Details</strong>
                <i class="glyphicon glyphicon-chevron-down pull-right"></i>
              </li>
              <li class="list-group-item">
                &nbsp;
                <span class="btn-xs btn-primary btn-outline btn pull-right" data-toggle="modal" data-target="#sr"><i class="glyphicon glyphicon-plus"></i></span>
              </li>
              @if (Model.Courses != null && Model.Courses.Any())
              {
                foreach (CourseRequested courseRequested in Model.Courses)
                {
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-11"><input type="hidden" value="@courseRequested.CourseId" /><strong>Name: </strong>@courseRequested.CourseName, <strong>Service Required: </strong>@Html.PascalCaseToPrettyString(@courseRequested.ServiceRequired), <strong>Amount Quoted: </strong>@courseRequested.AmountQuoted</div>
                      <div class="col-md-1"><span class="btn btn-xs btn-danger btn-outline pull-right"><i class="glyphicon glyphicon-remove"></i></span></div>
                    </div>
                  </li>
                }
              }
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item list-group-item-text list-group-item-info">
                <strong>Misc.</strong><i class="glyphicon glyphicon-chevron-down pull-right"></i>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-4">@Html.LabelForPascal(lead => lead.Description):</div>
                  <div class="col-md-8">@Html.TextBoxFor(lead => lead.Description, new { @class = "form-control" })</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-4">@Html.LabelForPascal(lead => lead.Status):</div>
                  <div class="col-md-8">
                    @Html.EnumDropDownListFor(lead => lead.Status)
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@Html.Raw(RenderView.RenderViewToString("CommunicationDetail", "index", new CommunicationDetail(), null))
@Html.Raw(RenderView.RenderViewToString("CourseRequested", "index", new CourseRequested(), new KeyValuePair<string, object>("Courses", ViewBag.Courses)))

<div class="modal fade" id="bt" tabindex="-1" role="dialog" aria-labelledby="titleBTTC" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="titleBTTC">Best Time to Contact</h4>
      </div>
      <div class="modal-body">
        <form id="bttc">
          <div class='input-group date' id="datetimepicker5">
            @Html.TextBoxFor(lead => lead.DemoDateTime, "{0:dddd MMMM, dd yyyy HH:mm}", new { @class = "form-control datetimepicker", @readonly = true })
            <span class="input-group-addon btn-outline btn-primary"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span class="btn btn-outline btn-primary" id="BestTimeSave"><i class="fa fa-save"></i></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" language="javascript" src=@Url.Content("~/Scripts/Lead_Create_Edit.js")></script>
<script type="text/javascript" language="javascript" src=@Url.Content("~/Scripts/Lead_Create_Edit_Validations.js")></script>
<script type="text/javascript" language="javascript">
  submitConfirm('span i.fa-trash-o', 'Do you want to discard the changes?', function () { location.href = '@Url.Action("Index", "Lead")'; });
  submitConfirm('span i.fa-save', 'Do you want to Save the changes?', function () {
    //var valid = $('form').validate().form();
    //if (valid)
    $('#leadCreateForm').submit();
  });
</script>