@using TMS.Entities
@using TMS.Web.UI.Controllers
@model Course

@{
  Layout = "../Shared/_Layout.cshtml";
}

@using (@Html.BeginForm(string.IsNullOrWhiteSpace(Model.Id) ? "CreateCourse" : "EditCourse", "Course", FormMethod.Post, new { @id = "courseCreateForm", @courseId = @Model.Id }))
{
  <div class="row" style="padding-top: 15px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group">
          @if (string.IsNullOrWhiteSpace(@Model.Id))
          {
            <span class="btn btn-outline btn-danger" id="btnCancel"><i class="fa fa-trash-o"></i></span>
          }
          else
          {
            <span class="btn btn-outline btn-danger" id="btnCancel"><i class="fa fa-arrow-left"></i></span>
          }
          <span class="btn btn-outline btn-primary" id="btnSave"><i class="fa fa-save"></i></span>
        </div>
        <div class="btn-group">
          <button class="btn btn-outline btn-info"><i class="fa fa-print"></i></button>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item list-group-item-text list-group-item-info">
            <strong>Personal Details</strong><i class="glyphicon glyphicon-chevron-down pull-right"></i>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top"><strong>Title:</strong></div>
                  <div class="col-md-8">@Html.TextBoxFor(course => course.Title, new { @class = "form-control" })</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top"><strong>Description:</strong></div>
                  <div class="col-md-8">@Html.TextBoxFor(course => course.Description, new { @class = "form-control" })</div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top">Duration:</div>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                      @Html.TextBoxFor(course => course.DurationInDays, new { @class = "form-control text-right", @Value = @Model.DurationInDays.HasValue ? @Model.DurationInDays.Value.ToString() : "0" })
                      <span class="input-group-addon">days</span>
                      @Html.TextBoxFor(course => course.DurationInDays, new { @class = "form-control text-right", @Value = @Model.DurationInDays.HasValue ? @Model.DurationInDays.Value.ToString() : "0" })
                      <span class="input-group-addon">hours</span>
                      @*<div class="input-group-btn">
                          <button type="button" class="btn" style="height: 43px;"><i class="fa fa-minus"></i></button>
                          <button type="button" class="btn" style="height: 43px;"><i class="fa fa-plus"></i></button>
                        </div>*@
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4 text-right padding-top">@Html.LabelFor(course => course.Price):</div>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                      @Html.TextBoxFor(course => course.Price, new { @class = "form-control text-right", @Value = @Model.Price.HasValue ? Model.Price.Value.ToString() : "0.00" })
                      @*<div class="input-group-btn">
                          <button type="button" class="btn" style="height: 43px;"><i class="fa fa-minus"></i></button>
                          <button type="button" class="btn" style="height: 43px;"><i class="fa fa-plus"></i></button>
                        </div>*@
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item  list-group-item-text list-group-item-info"><strong>Topic Details</strong><i class="glyphicon glyphicon-chevron-down pull-right"></i></li>
          <li class="list-group-item">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <td>&nbsp;</td>
                    <td><strong>Title</strong></td>
                    <td colspan="2"><strong>Duration</strong></td>
                    @*<td><span class="btn-xs btn-primary btn-outline btn pull-right" data-toggle="modal" data-target="#sr"><i class="glyphicon glyphicon-plus"></i></span></td>*@
                  </tr>
                  <tr><td colspan="4"><span class="btn-xs btn-primary btn-outline btn pull-right" data-toggle="modal" data-target="#sr"><i class="glyphicon glyphicon-plus"></i></span></td></tr>
                </thead>
                @if (@Model.CourseTopics != null && Model.CourseTopics.Any())
                {
                  foreach (CourseTopic courseTopic in Model.CourseTopics.OrderBy(topic => topic.SequenceId))
                  {
                    <tr>
                      <td><i class="fa fa-plus-square" style="cursor: pointer"></i></td>
                      <td>@courseTopic.Title</td>
                      <td>@courseTopic.DurationInHours.ConvertToString("hour")</td>
                      @*<td class="text-right"><span class="btn-xs btn-primary btn-outline btn pull-right" data-toggle="modal" data-target="#sr"><i class="glyphicon glyphicon-plus"></i></span></td>*@
                      <td><span class="btn btn-xs btn-danger btn-outline pull-right"><i class="glyphicon glyphicon-remove"></i></span></td>
                    </tr>
                    <tr style="display: none">
                      <td colspan="4">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead><tr><td colspan="4" class="text-right"><span class="btn-xs btn-primary btn-outline btn pull-right" data-toggle="modal" data-target="#sr"><i class="glyphicon glyphicon-plus"></i></span></td></tr></thead>
                            @if (courseTopic.CourseTopics != null && courseTopic.CourseTopics.Any())
                            {
                              foreach (CourseTopic ct in courseTopic.CourseTopics.OrderBy(topic => topic.SequenceId))
                              {
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>@ct.Title</td>
                                  <td>@ct.DurationInHours.ConvertToString("minute")</td>
                                  <td><span class="btn btn-xs btn-danger btn-outline pull-right"><i class="glyphicon glyphicon-remove"></i></span></td>
                                </tr>
                              }
                            }
                          </table>
                        </div>
                      </td>
                    </tr>
                  }
                }
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
}

@Html.Raw(RenderView.RenderViewToString("CourseTopic", "Index", new CourseTopic(), null))
<script type="text/javascript" language="javascript" src=@Url.Content("~/Scripts/Lead_Create_Edit.js")></script>
<script type="text/javascript" language="javascript" src=@Url.Content("~/Scripts/Course.js")></script>
@if (string.IsNullOrWhiteSpace(@Model.Id))
{
  <script type="text/javascript" language="javascript">
    submitConfirm('span i.fa-trash-o', 'Do you want to discard the changes?', function () { location.href = '@Url.Action("Index", "Course")'; });
    submitConfirm('span i.fa-save', 'Do you want to Save the changes?', function () { $('#courseCreateForm').submit(); });
  </script>
}
else
{
  <script type="text/javascript" language="javascript">
    submitConfirm('span i.fa-arrow-left', 'Do you want to discard the changes?', function () { location.href = '@Url.Action("Details", "Course", new { @Model.Id })'; });
    submitConfirm('span i.fa-save', 'Do you want to Save the changes?', function () { $('#courseCreateForm').submit(); });
  </script>
}
<script language="javascript" type="text/javascript">
  $('button i.fa-minus').on('click', function (e) {
    var c = $(e.target).closest('div.input-group').children('input:text');
    var v = parseFloat(c.val()) - 1;
    if (v < 0)
      v = 0;

    if (c.val().indexOf('.00') > -1)
      v += '.00';
    c.val(v);
  });

  $('button i.fa-plus').on('click', function (e) {
    var c = $(e.target).closest('div.input-group').children('input:text');
    var v = parseFloat(c.val()) + 1;
    if (c.val().indexOf('.00') > -1)
      v += '.00';
    c.val(v);
  });

  $('span i.glyphicon-check').on('click', function (e) {
    $(e.target).closest('form').submit();
  });

  //$(function() {
  //  $('#datetimepicker').datetimepicker({
  //    pickDate: false
  //  });
  //});

</script>