@using TMS.Entities
@using TMS.Web.UI.Controllers
@model CourseRequested

@{
  Layout = string.Empty;
}
@using (Html.BeginForm("index", "CourseRequested", FormMethod.Get, new { id = "courseRequiredForm" }))
{
  <div class="modal fade" id="sr" tabindex="-1" role="dialog" aria-labelledby="titleSR" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="titleSR">Course Required</h4>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-3 text-right padding-top"><strong>Title:</strong></div>
                <div class="col-md-9">
                  @{
                    List<Course> courses = ViewBag.Courses;
                    IEnumerable<SelectListItem> selectListItems =
                      from c in courses
                      select new SelectListItem
                      {
                        Selected = false,
                        Text = string.Format("Title - {0}, Duration(days): {1}, Price: {2}", c.Title, c.DurationInDays, c.Price),
                        Value = c.Id
                      };
                  }
                  @Html.DropDownListFor(requested => requested.CourseId, selectListItems, "Select One...", new { @class = "form-control" })
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-3 text-right padding-top">@Html.LabelFor(detail => detail.ServiceRequired)</div>
                <div class="col-md-9">@Html.EnumDropDownListFor(detail => detail.ServiceRequired)</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-3 text-right padding-top">@Html.LabelFor(detail => detail.AmountQuoted)</div>
                <div class="col-md-9">@Html.TextBoxFor(detail => detail.AmountQuoted, new { @class = "form-control" })</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <span class="btn btn-outline btn-primary" id="ServiceRequiredSave"><i class="glyphicon glyphicon-check"></i></span>
        </div>
      </div>
    </div>
  </div>
}